<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= proceedings && ('Proceedings of WSL ' + proceedings['year']) || 'Workshop de Software Livre' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="O Workshop de Software Livre (WSL) é um evento acadêmico e científico de periodicidade anual que integra o Fórum Internacional Software Livre (FISL) e ocorre desde 2000 em Porto Alegre, no estado do Rio Grande do Sul, Brasil. O WSL encoraja a submissão de trabalhos que façam pesquisa sobre o ecossistema do software livre, oferecendo a oportunidade para que professores, pesquisadores, estudantes e demais profissionais apresentem trabalhos de cunho científico desenvolvidos em seus centros de pesquisa, empresas ou universidades, que usem, produzam, compartilhem, divulguem e/ou pensem o software livre.">
    <% if proceedings %>
    <meta name="author" content="<%= proceedings && proceedings['papers'].map { |p| p['authors'].map { |a| a['name'] } }.flatten.sort.uniq.join(', ') %>">
    <% end %>

    <!-- Le styles -->
    <link href="<%= root %>/assets/css/bootstrap.css" rel="stylesheet">
    <link href="<%= root %>/assets/css/wsl.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="<%= root %>/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="<%= root %>/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= root %>/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= root %>/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= root %>/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="<%= root %>/assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= root %>"><span class='logo'></span> Workshop de Software Livre</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="<%= root %>"><i class='icon-home icon-white'></i> Home</a></li>
              <li class='dropdown'>
              <a href="#" class='dropdown-toggle' data-toggle='dropdown'><i class='icon-book icon-white'></i> Editions <b class='caret'></b></a>
                <ul class='dropdown-menu'>
                  <% YEARS.reverse.each do |year| %>
                    <li><a href='<%= root %>/<%= year %>/'>WSL <%= year %></a></li>
                  <% end %>
                </ul>
              </li>
              <li><a href="<%= root %>/search/"><i class='icon-search icon-white'></i> Search</a></li>
              <li><a href="http://softwarelivre.org/wsl"><i class='icon-user icon-white'></i> Community</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <% if proceedings %>
        <h1>Proceedings of WSL <%= proceedings['year'] %></h1>

        <form class='well form-search'>
          <input type="text" class="search-query">
          <button class="btn btn-primary">Search</button>
          <button class="btn reset">Show all</button>
        </form>

        <div class='row'>
          <div class='papers span8'>
            <h2>Papers</h2>
            <% proceedings['papers'].each do |paper| %>
              <div class='paper'>
                <p>
                <a href="<%= paper['code'] %>"><%= paper['title'] %></a>
                <br/>
                <%= paper['authors'].map { |author| "#{author['name']} (#{author['institution']})" }.join(', ') %>
                <br/>
              </div>
            <% end %>
            <div class='no-results-found' style='display: none;'>
              <p>
              <em>No papers found.</em>
              </p>
            </div>
          </div>
          <div class='span4'>
            <%= committee %>
          </div>
        </div>
      <% else %>
        <div class='hero-unit'>
          <p><h1 align="center">Proceedings of WSL</h1></p>
          <br>
          <p align="center">Papers published in Workshop de Software Livre editions from  <%= YEARS.min %> to <%= YEARS.max %> are available in the repository.</p>
        </div>

        <div role="tabpanel">

          <h1 style="display: inline;" id="tabheader">Welcome to the WSL papers repository</h1>

          <ul class="nav nav-tabs pull-right" id="langbar" role="tablist">
            <li role="presentation"><a href="#portugues">Português</a></li>
            <li role="presentation"><a href="#espanol">Español</a></li>
            <li role="presentation" class="active"><a href="#english">English</a></li>
          </ul>

          <br>
          <br>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="portugues">
              <p style="text-align:justify;">
                O Workshop de Software Livre (WSL) é um evento acadêmico
                e científico de periodicidade anual que integra o Fórum Internacional
                Software Livre (FISL) e ocorre desde 2000 em Porto Alegre, no estado do
                Rio Grande do Sul, Brasil. O WSL encoraja a submissão de trabalhos que
                façam pesquisa sobre o ecossistema do software livre, oferecendo a
                oportunidade para que professores, pesquisadores, estudantes e demais
                profissionais apresentem trabalhos de cunho científico desenvolvidos em
                seus centros de pesquisa, empresas ou universidades, que usem,
                produzam, compartilhem, divulguem e/ou pensem o software livre.
              </p>
              <p>
                Este website é o repositório de acesso aberto onde são
                disponibilizados os artigos publicados no WSL.
              </p>
            </div>
            <div role="tabpanel" class="tab-pane" id="espanol">
              <p style="text-align:justify;">
                El <em>Workshop de Software Livre (WSL)</em> - Workshop del Software Libre, en portugués -
                es un evento académico y científico anual que ocurre como parte del <em>Fórum Internacional
                de Software Livre (FISL)</em> - Foro Internacional del Software Libre, en portugués -
                desde el año 2000 en Porto Alegre, estado de Rio Grande do Sul, Brasil. El WSL alienta la
                presentación de investigaciones sobre el ecosistema del software libre, ofreciendo la
                oportunidad para que profesores, investigadores, estudiantes y otros profesionales
                presenten obras de carácter científico desarrollados en sus centros de investigación,
                universidades, o empresas que utilizan, producen, comparten, difunden, y/o piensan el
                software libre.
              </p>
              <p>
                Este sitio web es el repositorio de acceso abierto donde están
                disponibles los artículos  publicados en el WSL.
              </p>
            </div>
            <div role="tabpanel" class="tab-pane active" id="english">
              <p style="text-align:justify;">
                The <em>Workshop de Software Livre (WSL)</em> - Workshop on Free Software, in Portuguese - is an
                annual academic and scientific colocated with <em>Fórum Internacional de
                Software Livre (FISL)</em> - International Forum on Free Software, in Portuguese - since 2000 in
                Porto Alegre, in the state of Rio Grande do Sul, Brazil. WSL encourages the submission of research
                papers on the free software ecosystem, offering opportunities for professors,
                researchers, students and professionals to present scientific work developed in their
                research centers, universities or companies who use, produce, share, disseminate and/or think
                about free software.
              </p>
              <p>
                This website is the open access repository to the papers
                presented and published in WSL.
              </p>
            </div>
          </div>

        </div> <!-- div role="lang" -->

      <% end %>

      <footer class='footer'>
      <p>
      Copyright © 2012–<%= Date.today.year %> - Associação Software Livre.Org. <a href="https://gitlab.com/wsl/repository">Source code</a> is licensed under the terms of <a href="http://www.gnu.org/licenses/gpl.html">GNU GPL version 3</a>.
      <p/>
      <p>
        The copyright of each paper available in the repository is owned by
        their respective authors under the terms of Creative Commons
        <a href="http://creativecommons.org/licenses/by-nd/3.0/">Attribution-NoDerivs 3.0 Unported (CC BY-ND 3.0)</a>
        license.
      </p>
      </footer>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="<%= root %>/assets/js/jquery.min.js"></script>
    <script src="<%= root %>/assets/js/bootstrap.min.js"></script>
    <script src="<%= root %>/assets/js/wsl.js"></script>
    <script type="text/javascript">
      $('#langbar a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')

        var tabActive = e.target

        document.getElementById("tabheader").innerHTML = tabActive

        if(tabActive.href.indexOf("#portugues") != -1)
           document.getElementById("tabheader").innerHTML = "Bem vind@ ao repositório de artigos do WSL"
        if(tabActive.href.indexOf("#espanol") != -1)
           document.getElementById("tabheader").innerHTML = "Bienvenid@ al repositorio de artículos de WSL"
        if(tabActive.href.indexOf("#english") != -1)
           document.getElementById("tabheader").innerHTML = "Welcome to the WSL papers repository"

      })
    </script>
    <%= analytics %>
  </body>
</html>
